# Copyright 2025 NXP
# SPDX-License-Identifier: BSD-3-Clause

menuconfig MCUX_COMPONENT_middleware.wireless.framework.workq
    bool "Simple workqueue threads"
    select MCUX_COMPONENT_component.osa
    select MCUX_COMPONENT_component.lists
    help
      Use workqueues to defer processing to shared threads.

if MCUX_COMPONENT_middleware.wireless.framework.workq

endif