# Copyright 2026 NXP
#
# SPDX-License-Identifier: BSD-3-Clause

if MCUX_COMPONENT_middleware.wireless.framework.platform.kw43_mcxw70_nbu

config MCUX_COMPONENT_middleware.wireless.framework.platform.dbg
    select MCUX_COMPONENT_utility.assert

endif
