# FModuleInfo configuration options

# Copyright 2024 NXP
# SPDX-License-Identifier: BSD-3-Clause

menuconfig MCUX_COMPONENT_middleware.wireless.framework.sensors
    bool "Sensors for Battery/Temperature measurements"
    select MCUX_COMPONENT_middleware.wireless.framework.platform.sensors
    select MCUX_COMPONENT_component.osa
    depends on MCUX_COMPONENT_middleware.wireless.framework.platform
    help
      Sensors APIs for Battery/Temperature measurements.

if MCUX_COMPONENT_middleware.wireless.framework.sensors

endif